body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: visible;
    margin: 0px;
    height: 100%;
    font-family: 'times new roman', 'Times New Roman', Times, serif;
}
.menubar {
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 8%;
    width: 100%;
    background-color: rgb(255, 255, 255, .9);
    text-align: center;
    z-index: 6;
}
.button {
    width: 20%;
}
a {
    color: black;
}
.footer {
    position: fixed;
    background-color: rgb(255, 255, 255, .5);
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 8%;
    z-index: 3;
}
.footerbuttons {
    width: 70%;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: row;
}
.footerinfo {
    margin: auto;
}
#LinkedIn {
    height: 40px;
}
#Instagram {
    height: 40px;
}